<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rushang.mapper.ChatMapper">
    <select id="selectUserGx" resultType="java.util.Map">
        select gx.yhgxid,gx.cjsj,gx.yhid,u.User_CoolName,gx.bgzyhid FROM users u, user_gx gx WHERE gx.bgzyhid=u.User_ID and gx.gxlx='1'and gx.yhid=#{yhid,jdbcType=CHAR}
    </select>

</mapper>