<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.9//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rushang.mapper.FileMapper">
    <insert id="insertMessageTp">
        insert into message_tp (tp_id,tp_nr,message_id,tp_mc) values (#{tpid,jdbcType=CHAR},#{tpnr,jdbcType=BLOB},#{messageId,jdbcType=CHAR},#{tpmc,jdbcType=VARCHAR})
    </insert>
    
    <select id="selectTpByMessageId" resultType="java.util.Map">
        SELECT tp_id ,tp_nr,message_id,tp_mc from message_tp where message_id=#{messageid,jdbcType=CHAR}
    </select>

</mapper>
